@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
}


/* Necessary styles for the scroll container */
.scroll-container {
  position: relative;
  overflow: hidden;
}

.scroll-horizontal {
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}


@layer utilities {
    .container {
        @apply px-6 lg:px-28
    }
}

/* =====  CLERK OVERRIDES */
.cl-userButtonBox {
  display: flex;
  flex-flow: row-reverse;
  gap: 12px;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
  font-weight: 600;
  color: black;
}



.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr)); /* Auto-fill grid */
  grid-gap: 1rem; /* Set gap between items */
  grid-auto-rows: 10px; /* Base row height */
}

.masonry-item {
  grid-row: span 2; /* Each item spans 2 rows */
}

.masonry-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px; /* Rounded corners for the images */
}
