@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Darker Grotesque", sans-serif;
}


/* Necessary styles for the scroll container */
.scroll-container {
  position: relative;
  overflow: hidden;
}

.scroll-horizontal {
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}


@layer utilities {
    .container {
        @apply px-6 lg:px-28
    }
}