@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
}


/* Necessary styles for the scroll container */
.scroll-container {
  position: relative;
  overflow: hidden;
}

.scroll-horizontal {
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}


@layer utilities {
    .container {
        @apply px-6 lg:px-28
    }
}

/* =====  CLERK OVERRIDES */
.cl-userButtonBox {
  display: flex;
  flex-flow: row-reverse;
  gap: 12px;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
  font-weight: 600;
  color: white;
}